{% extends "base.html" %}

{% block content %}

<br><br>



<a href="{{ url_for('feedback.review_product', product_id = 2) }}" type="button" class="btn btn-light">Write a Product Review</a>
<a href="{{ url_for('feedback.review_seller', seller_id = 2) }}" type="button" class="btn btn-light">Write a Seller Review</a>


<h2>Your Reviews:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Review</th>
      <th scope="col">Rating</th>
      <th scope="col">Delete</th>
      <th scope="col">Was this helpful?</th>
    </tr>
  </thead>
  <tbody>
    {% for feedback in user_feedback%}
      <tr>
        <td>{{feedback.review}}
          <a href="{{ url_for('feedback.update_review', review_id = feedback.id) }}" type="button" class="btn btn-light">Edit</a>
        </td>
        <td>{{feedback.rating}}
          <a href="{{ url_for('feedback.update_rating', review_id = feedback.id) }}" type="button" class="btn btn-light">Edit</a>
        </td>
        <td><a href="{{ url_for('feedback.delete_review', review_id = feedback.id) }}" type="button" class="btn btn-light">Delete</a></td>
        <td>{{feedback.upvotes}} people found this helpful!
          <a href="{{ url_for('feedback.update_votes', review_id = feedback.id, upvotes = (feedback.upvotes + 1)) }}" type="button" class="btn btn-light">Helpful</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>

{% endblock %}
