{% extends "base.html" %}

{% block content %}
<br><br>
{% for feedback in rating%}
<div style = "text-align: center;">
<h3>Current Rating:</h3> {{feedback.rating}}
</div>
{% endfor %}

<div class = "login-menu">
<p class = "login" style = "text-align: center;">New Rating</p>  
  <form class = "form1" action="" method="post">
  {{ form.hidden_tag() }}
  <p style = "text-align: center;">
    {{ form.rating.label }}<br/>
    {{ form.rating }}<br/>
    {% for error in form.rating.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p style = "text-align: center;">{{ form.submit() }}</p>
  <br><br>
</form>
</div>

{% endblock %}