{% extends "base.html" %}

{% block content %}
 <br><br>
{% for feedback in image%}

{%if feedback.image == 'NA'  %}
<h3>This review currently has no photo</h3>
{% else %}
<div style = "text-align: center;">
<h3>Current Image:</h3> <img src="{{feedback.image}}" width="100" height = "100"/> 
</div>
{% endif %} 
{% endfor %}

<div class = "login-menu">
<p class = "login" style = "text-align: center;">New Image URL</p>  
<form class = "form1" action="" method="post">
  {{ form.hidden_tag() }}
  <p style = "text-align: center;">
    {{ form.image.label }}<br/>
    {{ form.image(size=32, class_ = "login-text") }}<br/>
    {% for error in form.image.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p style = "text-align: center;">{{ form.submit() }}</p>
  <br><br>
</form>
</div>

{% endblock %}