{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}

<h1 style="text-align:center">Order Details</h1>
<table class = "styled-table center">
    <tr>
      <th>Item</th>
      <th>Item Quantity</th>
      <th>Item Total</th>
      <th>Fulfillment Status</th>
      <th>Seller</th>
    </tr>
    <tbody>
        {% for item in orderDetails%}
    <tr>  
      <td>
        {{item.name}}
      </td>
      <td>
        {{item.total_quantity}}
      </td>
      <td>
        ${{ (item.total_price*item.total_quantity)|round(2)}}
      </td>
      <td>
        {{item.fulfillment_status}}
      </td>
      <td>
        <a href="{{ url_for('users.get_user_public_view', uid=item.sid) }}" type="button" class="btn btn-light">{{item.seller_firstname}} {{item.seller_lastname}}</a>
      </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<br><br>
<table class = "styled-table center">
  <td>Total Price</td>
  <td>${{total|round(2)}}</td>
</table>

{% endif%}

{%endblock%}