{% extends "base.html" %}

{% block content %}

<br><br>
<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    {{ form.user_id.label }}<br/>
    {{ form.user_id(size=32) }}<br/>
  </p>
  {{ form.search(class_="btn btn-black") }}
</form>

<h1>User Information</h1>
<h2>Account ID: {{user_id.id}} </h2>
<h2>Name: {{user_id.firstname}} {{user_id.lastname}}</h2>

{% if user_id.seller %}
    <h2>Email: {{user_id.email}} </h2>
    <h2>Address: {{user_id.address}} </h2>
    <h2>Reviews </h2>
    <h4>Average Rating: {{stats.avg}}</h4>
<h4>{{stats.count}} customer reviews</h4>
<div>
  <img src="/static/images/5stars.png", style="width:8em; height:auto;"/>
  {{ratings.five}}
</div>
<div>
  <img src="/static/images/4stars.png", style="width:8em; height:auto;"/>
  {{ratings.four}}
</div>
<div>
  <img src="/static/images/3stars.png", style="width:8em; height:auto;"/>
  {{ratings.three}}
</div>
<div>
  <img src="/static/images/2stars.png", style="width:8em; height:auto;"/>
  {{ratings.two}}
</div>
<div>
  <img src="/static/images/1star.png", style="width:8em; height:auto;"/>
  {{ratings.one}}
</div>

<br>

{%if hasReview %}
<h5>You have already reviewed this seller.</h5>
{% else %}

{%if hasPurchased %}
<a href="{{ url_for('feedback.review_seller', seller_id = seller_id) }}" type="button" class="btn btn-light">Write a Review</a>

{% else %}
<h5>You have not purchased anything from this seller.</h5>

<br>
{% endif %}


<br>
{% endif %}




<br>
<table class='styled-table table-hover container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">User</th>
      <th scope="col">Review</th>
      <th scope="col">Rating</th>
      <th scope="col">Was this helpful?</th>
    </tr>
  </thead>
  <tbody>
    {% for feedback in reviews%}
      <tr>
        <td>{{feedback.firstname}} {{feedback.lastname}}</td>
        <td>{{feedback.review}}</td>
        <td>{{feedback.rating}}        
        <td> {{feedback.upvotes}} people found this helpful!
          <a href="{{ url_for('feedback.update_s_votes', seller_id=seller_id, review_id = feedback.id, upvotes = (feedback.upvotes + 1)) }}" type="button" class="btn btn-light">Helpful</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}