{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}

<h2>Purchase History:</h2>
<table class='styled-table table-hover container'>
  <thead>
    <tr>
      <th scope="col">Total Cost</th>
      <th scope="col">Number of Items</th>
      <th scope="col">Fulfillment Status</th>
      <th scope="col">Time Purchased</th>
      <th scope="col">Link to Detailed Order Page</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history%}
      <tr>
        <th scope="row"> ${{purchase.total_price}} </th>
        <td> {{purchase.total_quantity}} </td>
        <td>{{purchase.fulfillment_status}}</td>
        <td> {{purchase.time_purchased}} </td>
        <td> 
          <a href="{{ url_for('purchases.detailed_order_page', user_id=current_user.id, time_purchased=purchase.time_purchased) }}" type="button" class="btn btn-light">View Order</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endif%}

<script>
  $(document).ready( function () {
      $('#purchase-history-table').DataTable();
  } );
</script>

{% endblock %}