{% extends "base.html" %}

{% block content %}

<div class = "register-menu">
  <p class = "login" style = "text-align: center;">Update Password</p>
<form class = "form1" action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.password(size=32, class_ = "register-text", placeholder = "Password") }}<br/>
    {% for error in form.password.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.password2(size=32, class_="register-text", placeholder = "Repeat Password") }}<br/>
    {% for error in form.password2.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p style = "text-align: center;">{{ form.submit() }}</p>
  <br><br>
</form>
</div>

{% endblock %}
