{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}
<br>
<h2 style ="text-align: center;">Your Account Information</h2>
<table class = "user-table center">
  <thead>
    <tr>
      <th>Account ID</th>
      <th>Email</th>
    </tr>
    </thead>
    <tr>
      <td>
        {{user_id.id}}
      </td>
      <td>
        {{user_id.email}}
        <br>
        <a href="{{ url_for('users.update_email') }}" type="button" class="btn btn-dark">Edit Email</a> 
      </td>
    </tr>
    <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
    </tr>
    </thead>
    <tr>
      <td>{{user_id.firstname}} {{user_id.lastname}}
        <br>
        <a href="{{ url_for('users.update_name') }}" type="button" class="btn btn-dark">Edit Name</a> 
      </td>
      <td>{{user_id.address}}
        <br>
        <a href="{{ url_for('users.update_address') }}" type="button" class="btn btn-dark">Edit Address</a> 
      </td>
    </tr>
    <thead>
    <tr>
      <th>Password</th>
      <th>Balance</th>
    </tr>
    </thead>
    <tr>
      <td>
        <a href="{{ url_for('users.update_password') }}" type="button" class="btn btn-dark">Edit Password</a> 
      </td>
      <td>
        ${{user_id.balance|round(2)}} 
        <br>
        <a href="{{ url_for('users.update_balance') }}" type="button" class="btn btn-dark">Edit Balance</a> 
      </td>
    </tr>
</table>
<br>


<h2>Your Product Reviews</h2>

{%if p_reviews  %}
<table class='styled-table table-hover container'>
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Review</th>
      <th scope="col">Rating</th>
      <th scope="col">Image</th>
      <th scope="col">Was this helpful?</th>
      <th scope="col">Delete</th>   
    </tr>
  </thead>
  <tbody>
    {% for feedback in product_feedback%}
      <tr>
        <td>
          <a href="{{ url_for('products.detail_product', product_id = feedback.pid) }}" type="button" class="btn btn-light">{{feedback.pname}}</a>
        </td>
        <td>{{feedback.review}}
          <a href="{{ url_for('feedback.update_review', review_id = feedback.id) }}" type="button" class="btn btn-light">Edit</a>
        </td>
        <td>{{feedback.rating}}
          <a href="{{ url_for('feedback.update_rating', review_id = feedback.id) }}" type="button" class="btn btn-light">Edit</a>
        </td>
        <td> 
          {%if feedback.image == 'NA'  %}
          No image
          <a href="{{ url_for('feedback.update_image', review_id = feedback.id) }}" type="button" class="btn btn-light">Add</a>
          {% else %}
          <img src="{{feedback.image}}" width="100" height = "100"/>
          <a href="{{ url_for('feedback.update_image', review_id = feedback.id) }}" type="button" class="btn btn-light">Edit</a>
        {% endif %}  
         </td>  
        <td>{{feedback.upvotes}} people found this helpful!</td>
        <td><a href="{{ url_for('feedback.delete_review', review_id = feedback.id) }}" type="button" class="btn btn-light">Delete</a></td>     
      </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}

<p>You don't have any product reviews.</p>
{% endif %}

<h2>Your Seller Reviews</h2>
{%if s_reviews  %}
<table class='styled-table table-hover container'>
  <thead>
    <tr>
      <th scope="col">Seller</th>
      <th scope="col">Review</th>
      <th scope="col">Rating</th>
      <th scope="col">Image</th>
      <th scope="col">Was this helpful?</th>
      <th scope="col">Delete</th>   
    </tr>
  </thead>
  <tbody>
    {% for feedback in seller_feedback%}
      <tr>
        <td>
          <a href="{{ url_for('users.get_user_public_view', uid = feedback.sid) }}" type="button" class="btn btn-light"> {{feedback.firstname}} {{feedback.lastname}} </a>
        </td>
        <td>{{feedback.review}}
          <a href="{{ url_for('feedback.update_review', review_id = feedback.id) }}" type="button" class="btn btn-light">Edit</a>
        </td>
        <td>{{feedback.rating}}
          <a href="{{ url_for('feedback.update_rating', review_id = feedback.id) }}" type="button" class="btn btn-light">Edit</a>
        </td>
        <td> 
          {%if feedback.image == 'NA'  %}
          No image
          <a href="{{ url_for('feedback.update_image', review_id = feedback.id) }}" type="button" class="btn btn-light">Add</a>
          {% else %}
          <img src="{{feedback.image}}" width="100" height = "100"/>
          <a href="{{ url_for('feedback.update_image', review_id = feedback.id) }}" type="button" class="btn btn-light">Edit</a>
        {% endif %}  
         </td>  
        <td>{{feedback.upvotes}} people found this helpful!</td>
        <td><a href="{{ url_for('feedback.delete_review', review_id = feedback.id) }}" type="button" class="btn btn-light">Delete</a></td>     
      </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}

<p>You don't have any seller reviews.</p>
{% endif %}

<br><br>




{% endif %}

{% endblock %}