{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}
<br>
<h1>Your Account Information</h1>
<h2>Account ID: {{user_id.id}} </h2>
<h2>Email: {{user_id.email}} 
    <a href="{{ url_for('users.update_email') }}" type="button" class="btn btn-dark">Edit Email</a> 
</h2>
<h2> Password: HIDDEN 
    <a href="{{ url_for('users.update_password') }}" type="button" class="btn btn-dark">Edit Password</a> 
</h2>
<h2>Name: {{user_id.firstname}} {{user_id.lastname}} 
    <a href="{{ url_for('users.update_name') }}" type="button" class="btn btn-dark">Edit Name</a> 
</h2>
<h2>Address: {{user_id.address}} 
    <a href="{{ url_for('users.update_address') }}" type="button" class="btn btn-dark">Edit Address</a> 
</h2>
<h2>Balance: ${{user_id.balance}} 
    <a href="{{ url_for('users.update_balance') }}" type="button" class="btn btn-dark">Edit Balance</a> 
</h2>

<br>

<form action="" method="post">
  {{ form.hidden_tag() }}
  <div>
  <p>
    {{ form.order }} {{ form.submit() }}<br/>
    {% for error in form.order.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
</div>
</form>


<h2>Your Product Reviews</h2>

{%if p_reviews  %}
<table class='styled-table table-hover container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Review</th>
      <th scope="col">Rating</th>
      <th scope="col">Image</th>
      <th scope="col">Was this helpful?</th>
      <th scope="col">Delete</th>   
    </tr>
  </thead>
  <tbody>
    {% for feedback in product_feedback%}
      <tr>
        <td>
          <a href="{{ url_for('products.detail_product', product_id = feedback.pid) }}" type="button" class="btn btn-light">{{feedback.pname}}</a>
        </td>
        <td>{{feedback.review}}
          <a href="{{ url_for('feedback.update_review', review_id = feedback.id) }}" type="button" class="btn btn-light">Edit</a>
        </td>
        <td>{{feedback.rating}}
          <a href="{{ url_for('feedback.update_rating', review_id = feedback.id) }}" type="button" class="btn btn-light">Edit</a>
        </td>
        <td> 
          {%if feedback.image == 'NA'  %}
          No image
          <a href="{{ url_for('feedback.update_image', review_id = feedback.id) }}" type="button" class="btn btn-light">Add</a>
          {% else %}
          <img src="{{feedback.image}}" width="100" height = "100"/>
          <a href="{{ url_for('feedback.update_image', review_id = feedback.id) }}" type="button" class="btn btn-light">Edit</a>
        {% endif %}  
         </td>  
        <td>{{feedback.upvotes}} people found this helpful!</td>
        <td><a href="{{ url_for('feedback.delete_review', review_id = feedback.id) }}" type="button" class="btn btn-light">Delete</a></td>     
      </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}

<p>You don't have any product reviews.</p>
{% endif %}

<h2>Your Seller Reviews</h2>
{%if s_reviews  %}
<table class='styled-table table-hover container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Seller</th>
      <th scope="col">Review</th>
      <th scope="col">Rating</th>
      <th scope="col">Image</th>
      <th scope="col">Was this helpful?</th>
      <th scope="col">Delete</th>   
    </tr>
  </thead>
  <tbody>
    {% for feedback in seller_feedback%}
      <tr>
        <td>
          <a href="{{ url_for('users.get_user_public_view', uid = feedback.sid) }}" type="button" class="btn btn-light"> {{feedback.firstname}} {{feedback.lastname}} </a>
        </td>
        <td>{{feedback.review}}
          <a href="{{ url_for('feedback.update_review', review_id = feedback.id) }}" type="button" class="btn btn-light">Edit</a>
        </td>
        <td>{{feedback.rating}}
          <a href="{{ url_for('feedback.update_rating', review_id = feedback.id) }}" type="button" class="btn btn-light">Edit</a>
        </td>
        <td> 
          {%if feedback.image == 'NA'  %}
          No image
          <a href="{{ url_for('feedback.update_image', review_id = feedback.id) }}" type="button" class="btn btn-light">Add</a>
          {% else %}
          <img src="{{feedback.image}}" width="100" height = "100"/>
          <a href="{{ url_for('feedback.update_image', review_id = feedback.id) }}" type="button" class="btn btn-light">Edit</a>
        {% endif %}  
         </td>  
        <td>{{feedback.upvotes}} people found this helpful!</td>
        <td><a href="{{ url_for('feedback.delete_review', review_id = feedback.id) }}" type="button" class="btn btn-light">Delete</a></td>     
      </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}

<p>You don't have any seller reviews.</p>
{% endif %}

<br><br>




{% endif %}

{% endblock %}