{% extends "base.html" %}

{% block content %}


<h2 class="login" style="text-align: center">ADD NEW PRODUCT</h2>
<div style="margin-top: 30px"></div>
<form action="{{url_for('inventories.addNewProduct')}}" method="post" novalidate>
    <div>
        <div style="text-align: center;">{{ form.name(size=8, class_="box-text", placeholder = "Name") }}</div>
    </div>

    <br>

    <div>
        <div style="text-align: center;">{{ form.description(size=8, class_="box-text", placeholder = "Description") }}</div>
    </div>
    
    <br>

    <div>
        <p style ="text-align: center;">Category</p>  
        <div style="text-align: center;">{{ form.category(size=8, class_="box-text") }}</div>
    </div>

    <br>

    <div>
        <div style="text-align: center;">{{ form.image(size=8, class_="box-text", placeholder = "Image URL") }}</div>
    </div>

    <br>

    <div>
        <div style="text-align: center;">{{ form.quantity(size=8, class_="box-text", placeholder = "Quantity") }}</div>
    </div>

    <br>

    <div>
        <div style="text-align: center;">{{ form.price(size=8, class_="box-text", placeholder = "Price") }}</div>
    </div>

    <br>

    <div style="text-align: center">
        {{form.submit(class_="btn btn-black; box-text")}}
    </div>
</form>


{% endblock %}