{% extends "base.html" %}

{% block content %}

<br><br>


<h2>Items in cart:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Product ID</th>
      <th scope = "col">Purchase Quantity</th>
      <th scope = "col">Unit Price</th>
      <th scope = "col">Total Price</th>
      <th scope = "col">Delete from Cart</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in printprods%}
      <tr>
        <td>{{purchase.name}}</td>
        <td>{{purchase.pid}}</td>
        <td>{{purchase.quantity}}
          <a href="{{ url_for('carts.changeCart', uid = purchase.uid, pid = purchase.pid, newValue = purchase.quantity+1) }}" type="button" class="btn btn-light">+</a> 
          <a href="{{ url_for('carts.changeCart', uid = purchase.uid, pid = purchase.pid, newValue = purchase.quantity-1) }}" type="button" class="btn btn-light">-</a>        
        </td> 
        <td>{{purchase.u_price}}</td>
        <td>{{purchase.u_price*purchase.quantity}}</td>
        <td>
          <a href="{{ url_for('carts.delete_product', user_id = purchase.uid, purchase_id = purchase.pid) }}" type="button" class="btn btn-light">Delete</a>
        </td>  
      </tr>
    {% endfor %}
  </tbody>
</table>
<table class = "center table-bordered">
  <tr>
    <th>Total Number of Items</th>
    <th>Total Price</th>
  </tr>
  <tr>
    <td>
      {{numItems}}
    </td>
    <td>
      {{totalPrice}}
    </td>
  </tr>
  </table>
<h2>Submit Your Order</h2>
<form action = "{{url_for('carts.submitOrder')}}" method = "post" novalidate>
  {{form3.submit(class_="btn btn-black")}}
</form>

<br><br>

{% endblock %}
