{% extends "base.html" %}

{% block content %}

<h2 style = "text-align: center;">Edit Product</h2>
<table class = "user-table center">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Product Category</th>
    </tr>
  </thead>
  <tr>
    <td>
      {{product_details.name}}
      <br>
      <a href="{{ url_for('inventories.update_name', pid = product_details.id) }}" type="button" class="btn btn-dark"> Edit
        Name </a>
    </td>
    <td>
      {{product_details.category}}
      <br>
      <a href="{{ url_for('inventories.update_category', pid = product_details.id) }}" type="button" class="btn btn-dark">
        Edit Category </a>
    </td>
  </tr>
  <thead>
    <tr>
      <th>Description</th>
      <th>Image</th>
    </tr>
  </thead>
  <tr>
    <td>
      {{ product_details.description }}
      <br>
      <a href="{{ url_for('inventories.update_description', pid = product_details.id) }}" type="button"
      class="btn btn-dark"> Edit Description </a>
    </td>
    <td>
      <img src="{{product_details.image}}" />
      <br>
      <a href="{{ url_for('inventories.update_image', pid = product_details.id) }}" type="button" class="btn btn-dark"> Edit
      Image </a>
    </td>
  </tr>
</table>

<br><br>

{% endblock %}