{% extends "base.html" %}

{% block content %}

<h1>Edit details for: </h1>
<h1>{{ product_details.name }} 
  <a href="{{ url_for('inventories.update_name') }}" type="button" class="btn btn-dark"> Edit Name </a> </h1>
<h4>Category: {{ product_details.category }}
  <a href="{{ url_for('users.update_name') }}" type="button" class="btn btn-dark">Edit Price</a> 
</h4>
<h4>Description: {{ product_details.description }}
  <a href="{{ url_for('users.update_name') }}" type="button" class="btn btn-dark">Edit Description</a> 
</h4>
<div>
  <img src="{{product_details.image}}" />
  <a href="{{ url_for('users.update_name') }}" type="button" class="btn btn-dark">Edit Image</a> 
</div>

<br><br>

{% endblock %}