{% extends "base.html" %}

{% block content %}

<br><br>
<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    {{ form.user_id.label }}<br/>
    {{ form.user_id(size=32) }}<br/>
  </p>
  {{ form.search(class_="btn btn-black") }}
</form>



<a href="{{ url_for('feedback.review') }}" type="button" class="btn btn-light">Write a Review</a>

<h2>Reviews of User {{uid}}:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Review ID</th>
      <th scope="col">User ID</th>
      <th scope="col">Review</th>
      <th scope="col">Rating</th>
      <th scope="col">Time posted</th>
    </tr>
  </thead>
  <tbody>
    {% for feedback in user_feedback%}
      <tr>
        <th scope="row">{{feedback.id}}</th>
        <td>{{feedback.uid}}</td>
        <td>{{feedback.review}}</td>
        <td>{{feedback.rating}}</td>
        <td>{{feedback.submitted_timestamp}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>

{% endblock %}
