{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Products for sale:</h2>
<table class='styled-table table-hover container'>
  <thead>
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <tr>
        <th scope="row">{{product.name}}</th>
        <td>${{product.price}}</td>
        <td>{{product.description}}</td>
        
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>

{% endblock %}