{% extends "base.html" %}

{% block content %}

<br><br>
<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    {{ form.inventory_id.label }}<br/>
    {{ form.inventory_id(size=32) }}<br/>

    {{ form.product_id.label }}<br/>
    {{ form.product_id(size=32) }}<br/>

    {{ form.quantity.label }}<br/>
    {{ form.quantity(size=32) }}<br/>

    {{ form.price.label }}<br/>
    {{ form.price(size=32) }}<br/>

    {{ form.action.label }} <br/>
    {{ form.action(size=32) }}<br/>
  </p>
  {{ form.search(class_="btn btn-black") }}
</form>

<h2>Products in Inventory for User {{sid}}:</h2>
{% if available%}
<table class='styled-table table-hover container'>
  <thead>
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Price</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    {% for product in inventory_products%}
      <tr>
        <th scope="row">{{product.pid}}</th>
        <td>{{product.price}}</td>
        <td>{{product.quantity}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<b style='color:red;'> Not a seller </b>
{% endif %}

{% endblock %}
