{% extends "base.html" %}

{% block content %}


{% if available%}

<a href="{{ url_for('inventories.charts')}}" type="button" style="float: right; margin-top: 10px"
  class="btn btn-black">STATISTICS</a>
<a href="{{ url_for('inventories.addNewProductPage')}}" type="button" style="float: right; margin-right: 10px; margin-top: 10px"
  class="btn btn-black">ADD PRODUCT</a>
<a href="{{ url_for('purchases.purchase_history_seller')}}" type="button" style="float: right; margin-right: 10px; margin-top: 10px"
  class="btn btn-black">ORDER HISTORY</a>
<br><br>

<h2 class="login" style="text-align: center; margin-top: -35px">Products in Inventory for Seller {{sid}}:</h2>
<table class='styled-table table-hover container'>
  <thead>
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Product Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Remove</th>
      <th scope="col">Edit Product</th>
    </tr>
  </thead>
  <tbody>
    {% for product in inventory_products%}
    <tr>
      <th scope="row">{{product.name}}</th>
      <td>{{product.price}}</td>
      <td>{{product.quantity}}
        <a href="{{ url_for('inventories.modifyQuantity', uid = product.sid, pid = product.pid, new_q = product.quantity+1) }}"
          type="button" class="btn btn-light">+</a>
        <a href="{{ url_for('inventories.modifyQuantity', uid = product.sid, pid = product.pid, new_q = product.quantity-1) }}"
          type="button" class="btn btn-light">-</a>
      </td>
      <td>
        <a href="{{ url_for('inventories.removeProduct', uid = product.sid, pid = product.pid) }}" type="button"
          class="btn btn-black; box-text">Remove</a>
      </td>
      <td>
        <!-- <a href="{{ url_for('inventories.editProduct', sid = product.sid, pid = product.pid) }}" type="button"
          class="btn btn-black; box-text">Edit</a> -->
          <a href="{{ url_for('inventories.editProduct', pid = product.pid) }}" type="button"
          class="btn btn-black; box-text">Edit</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
{% include 'not_a_seller_page.html' %}
<!--<h2 class="login" style="text-align: center; margin-top: -35px; color:red">You are not a seller.</h2>-->
{% endif %}

{% endblock %}