{% extends "base.html" %}

{% block content %}

<a href="{{ url_for('inventories.addNewProductPage')}}" type="button" style="float: right; margin-top: 10px"
  class="btn btn-black">ADD PRODUCT</a>
<a href="{{ url_for('purchases.purchase_history_seller')}}" type="button" style="float: right; margin-top: 10px"
  class="btn btn-black">ORDER HISTORY</a>
<br><br>

{% if available%}
<h2 class="login" style="text-align: center; margin-top: -35px">Products in Inventory for Seller {{sid}}:</h2>
<table class='styled-table table-hover container'>
  <thead>
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Remove/Add</th>
    </tr>
  </thead>
  <tbody>
    {% for product in inventory_products%}
    <tr>
      <th scope="row">{{product.pid}}</th>
      <td>{{product.price}}</td>
      <td>{{product.quantity}}
        <a href="{{ url_for('inventories.modifyQuantity', uid = product.sid, pid = product.pid, new_q = product.quantity+1) }}"
          type="button" class="btn btn-light">+</a>
        <a href="{{ url_for('inventories.modifyQuantity', uid = product.sid, pid = product.pid, new_q = product.quantity-1) }}"
          type="button" class="btn btn-light">-</a>
      </td>
      <td>
        <a href="{{ url_for('inventories.removeProduct', uid = product.sid, pid = product.pid) }}" type="button"
          class="btn btn-black; box-text">REMOVE</a>
      </td>
    </tr>
    {% endfor %}
    <form action="{{url_for('inventories.addProduct')}}" method="post" novalidate>
      <th>
        <!--{{ form.product_id.label }}-->
        {{ form.product_id(size=8, class_="box-text") }}
      </th>

      <td>
        <!--{{ form.price.label }}-->
        {{ form.price(size=8, class_="box-text") }}
      </td>

      <td>
        <!--{{ form.quantity.label }}-->
        {{ form.quantity(size=8, class_="box-text") }}
      </td>

      <td>
        {{form.submit(class_="btn btn-black; box-text")}}
      </td>
    </form>
  </tbody>
</table>
{% else %}
<h2 class="login" style="text-align: center; margin-top: -35px; color:red">You are not a seller.</h2>
<h2 href="{{ url_for('inventories.inventories')}}" type="button" class="btn btn-black">Become a Seller</h2>
{% endif %}

{% endblock %}