{% extends "base.html" %}

{% block content %}

<body>
  <div class = "login-menu">
    <p class = "login" style = "text-align: center;">Login</p>
<form class = "form1" action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    {{ form.email(size=32, class_ = "login-text", placeholder = "Email") }}<br/>
    {% for error in form.email.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.password(size=32, class_ = "login-text", placeholder = "Password") }}<br/>
    {% for error in form.password.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </p>
  {{ form.submit(class_="submit") }}
  <a class="register" href="{{ url_for('users.register') }}" role="button">Register</a>
</form>
</div>
</body>
{% endblock %}
