{% extends "base.html" %}

{% block content %}

<!-- <h3>% product_details.name %</h3> -->
<h1>{{ product_details.name }}</h1>
<h4>Price: ${{ product_details.price }}</h4>
<h4>Category: {{ product_details.category }}</h4>
<h4>Description: {{ product_details.description }}</h4>
<div>
  <img src="{{product_details.image}}"/>
</div>

<br><br>

<h4><center>Sellers selling this product</center></h4>
<table class='styled-table table-hover container' id="products-table">
  <thead>
    <tr>
      <th scope="col">Seller</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for inventory in sellers_of_product%}
      <tr>
        <td>{{inventory.firstname}}  {{inventory.lastname}}</td>
        <td>{{inventory.quantity}}</td>
        <td>{{inventory.price}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>



<br>

<h2>Reviews</h2>
<h4>Average Rating: {{stats.avg}}</h4>
<h4>{{stats.count}} customer reviews</h4>
<div>
  <img src="/static/images/5stars.png", style="width:8em; height:auto;"/>
  {{ratings.five}}
</div>
<div>
  <img src="/static/images/4stars.png", style="width:8em; height:auto;"/>
  {{ratings.four}}
</div>
<div>
  <img src="/static/images/3stars.png", style="width:8em; height:auto;"/>
  {{ratings.three}}
</div>
<div>
  <img src="/static/images/2stars.png", style="width:8em; height:auto;"/>
  {{ratings.two}}
</div>
<div>
  <img src="/static/images/1star.png", style="width:8em; height:auto;"/>
  {{ratings.one}}
</div>

<br>


{%if loggedIn %}

{%if hasReview %}
<h5>You have already reviewed this product.</h5>
{% else %}
<a href="{{ url_for('feedback.review_product', product_id = product_id) }}" type="button" class="btn btn-light">Write a Review</a>

<br>
{% endif %}

{% else %}

<h5>Please log in to write a review.</h5>
<a href="{{ url_for('users.login') }}" type="button" class="btn btn-light">Log in</a>

{% endif %}

<br>
<table class='styled-table table-hover container'>
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Review</th>
      <th scope="col">Rating</th>
      <th scope="col"> Image</th>
      <th scope="col">Was this helpful?</th>
    </tr>
  </thead>
  <tbody>
    {% for feedback in reviews%}
      <tr>
        <td>{{feedback.firstname}} {{feedback.lastname}}</td>
        <td>{{feedback.review}}</td>
        <td>{{feedback.rating}} </td>  
        <td> 
          {%if feedback.image == 'NA'  %}
          No image
          {% else %}
          <img src="{{feedback.image}}" width="100" height = "100"/>
        {% endif %}  
         </td>   
        <td> {{feedback.upvotes}} people found this helpful!
          <a href="{{ url_for('feedback.update_votes', product_id = feedback.pid, review_id = feedback.id, upvotes = (feedback.upvotes + 1)) }}" type="button" class="btn btn-light">Helpful</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

