{% extends "base.html" %}

{% block content %}

<!-- <h3>% product_details.name %</h3> -->
<h1>{{ product_details.name }}</h1>
<h4>Price: ${{ product_details.price }}</h4>
<h4>Category: {{ product_details.category }}</h4>
<h4>Description: {{ product_details.description }}</h4>

<br>
<br>

<a href="{{ url_for('feedback.review_product', product_id = product_id) }}" type="button" class="btn btn-light">Review this Product</a>

<br>


<h3>Stats</h3>
<table class='styled-table table-hover container'>
  <thead>
    <tr>
      <th scope="col">Average Rating</th>
      <th scope="col">Number of Ratings</th>
    </tr>
  </thead>
  <tbody>
    {% for stat in stats%}
      <tr>
        <th scope="row">{{stat[1]}}</th>
        <th scope="row">{{stat[2]}}</th>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br>


<h3>Rating Counts</h3>
<table class='styled-table table-hover container'>
  <thead>
    <tr>
      <th scope="col">1</th>
      <th scope="col">2</th>
      <th scope="col">3</th>
      <th scope="col">4</th>
      <th scope="col">5</th>

    </tr>
  </thead>
  <tbody>
      <tr>
        <th scope="row">{{ratings.one}}</th>
        <th scope="row">{{ratings.two}}</th>
        <th scope="row">{{ratings.three}}</th>
        <th scope="row">{{ratings.four}}</th>
        <th scope="row">{{ratings.five}}</th>
      </tr>
  </tbody>
</table>

<br>

<h3>Reviews</h3>
<table class='styled-table-hover container'>
  <thead>
    <tr>
      <th scope="col">Review</th>
      <th scope="col">Rating</th>
      <th scope="col">PID</th>
    </tr>
  </thead>
  <tbody>
    {% for feedback in reviews%}
      <tr>
        <td>{{feedback.review}}</td>
        <td>{{feedback.rating}}        
        <td>{{feedback.pid}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

