{% extends "base.html" %}

{% block content %}

<h2>Purchase History:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Total Cost</th>
      <th scope="col">Number of Items</th>
      <th scope="col">Fulfillment Status</th>
      <th scope="col">Link to Detailed Order Page</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history%}
      <tr>
        <th scope="row"> {{purchase.total_price}} </th>
        <td> {{purchase.total_quantity}} </td>
        <td>{{purchase.fulfillment_status}}</td>
        <td> LINK TO DETAILED ORDER PAGE </td>
        <td> </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}