{% extends "base.html" %}

{% block content %}
<body>
  <div class = "register-menu">
    <p class = "login" style = "text-align: center;">Register</p>
    <form class = "form1" action="" method="post">
      {{ form.hidden_tag() }}
      <p>
        {{ form.firstname(size=32, class_ = "register-text", placeholder = "First Name") }}<br/>
        {% for error in form.firstname.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.lastname(size=32, class_ = "register-text", placeholder = "Last Name") }}<br/>
        {% for error in form.lastname.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.email(size=64, class_ = "register-text", placeholder = "Email") }}<br/>
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.password(size=32, class_ = "register-text", placeholder = "Password") }}<br/>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.password2(size=32, class_ = "register-text", placeholder = "Confirm Password") }}<br/>
        {% for error in form.password2.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.address(size=32, class_ = "register-text", placeholder = "Address") }}<br/>
        {% for error in form.address.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.isseller.label }}
        {{ form.isseller }}
      </p>
      <p>{{ form.submit() }}</p>
    </form>
  </div>
</body>

{% endblock %}
