{% extends "base.html" %}


{% block content %}

{% if current_user.is_authenticated %}

<h3 class = "centerText">Your order has been submitted!</h3>
<br><br>
<table class = "styled-table center table-bordered">
    <tr>
      <th>Item</th>
      <th>Item Quantity</th>
      <th>Item Total</th>
      <th>Fulfillment Status</th>
    </tr>
    <tbody>
    {% for product in orderInfo %}
    <tr>  
      <td>
        {{product.name}}
      </td>
      <td>
        {{product.total_quantity}}
      </td>
      <td>
        ${{product.total_price*product.total_quantity}}
      </td>
      <td>
        {{product.fulfillment_status}}
      </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br><br>
<table class = "styled-table center table-bordered">
    <tr>
        <th>Order Total</th>
    </tr>
    <tr>
        <td>
            {{totalPrice}}
        </td>
    </tr>

{% endif%}

{%endblock%}